/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$highlight-color: red;


/*overrides*/
.x-mask {
    opacity: 0.5 !important;
    background-color: #546E7A !important;
}
/*end overrides*/

/*AJAX LOADER*/
.loaderAjax {
	width: 100px;
	height: 100px;
	-webkit-perspective: 100px;
	        perspective: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
    box-shadow: 0px 0px 1px white;
    background-color: white;
    border: 10px solid white;
    border-radius: 10px;
}

.loader__tile {
  display: block;
  float: left;
  width: 33.33%;
  height: 33.33%;
  -webkit-animation-name: flipflip;
          animation-name: flipflip;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 0;
}

.loader__tile__1 {
  background-color: #F44336;
  border-radius: 5px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader__tile__2 {
  background-color: #FFCDD2;
  border-radius: 5px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader__tile__3 {
  background-color: #E57373;
  border-radius: 5px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader__tile__4 {
  background-color: #EF9A9A;
  border-radius: 5px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader__tile__5 {
  background-color: #D50000;
  border-radius: 5px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader__tile__6 {
  background-color: #F44336;
  border-radius: 5px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader__tile__7 {
  background-color: #b30000;
  border-radius: 5px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader__tile__8 {
  background-color: #ff3838;
  border-radius: 5px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader__tile__9 {
  background-color: #ff8787;
  border-radius: 5px;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes flipflip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  30% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flipflip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
/*FINE AJAX LOADER*/





.background-gen {
    background-color: #F8F8F8 !important;
}

.pkf-label-bold-13 {
    font-weight: bold !important;
    font-size: 13px !important;
}

/*ICONS*/
.penknife-logo {
    background-image: url("img/pn-elegantt.svg");
}
.hamburger-icon {
    background-image: url("img/hamburger.svg");
}
.close-icon {
    background-image: url("img/close.svg");
}
.left-arrow {
    background-image: url("img/left-arrow.svg");
}
.pen-confirm {
    background-image: url("img/confirm.svg");
}
.pen-edit {
    background-image: url("img/edit.svg");
}
.lens-find {
    background-image: url("img/magnifying-search-lenses-tool.svg");
}
.like-none {
    background-image: url("img/heart-outline.svg");
}
.like-yeah {
    background-image: url("img/heart-red.svg");
}
.context-menu {
    background-image: url("img/context-menu.svg");
}


.icon-advertising {
    background-image: url("img/megaphone.svg");
}
.icon-lookup {
    background-image: url("img/binoculars.svg");
}
.icon-light-bulb {
    background-image: url("img/light-bulb.svg");
}
.icon-skyscraper {
    background-image: url("img/skyscraper.svg");
}
.icon-investment {
    background-image: url("img/investment.svg");
}
.icon-hand-shake {
    background-image: url("img/hand-shake.svg");
}
.icon-list {
    background-image: url("img/list.svg");
}
.users-list {
    background-image: url("img/users-list.svg");
}

.icon-upload {
    background-image: url("img/tiny-upload-symbol.svg");
}
.icon-pantone {
    background-image: url("img/pantone.svg");
}
.icon-dimensions {
    background-image: url("img/set-square.svg");
}


.btn-china-round,
.btn-china-rect,
.btn-italy-round,
.btn-italy-rect,
.btn-eng-round,
.btn-eng-rect,
.play-clip-round,
.icon-logout-mini-white {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border-radius: 50% !important;
}

.btn-china-round {
    background-image: url("img/china-round.svg") !important;    
    box-shadow: 0px 2px 3px #a60000;
}
.btn-italy-round {
    background-image: url("img/italy-round.svg") !important;
    box-shadow: 0px 2px 3px #a60000;
}
.btn-eng-round {
    background-image: url("img/eng-round.svg") !important;
    box-shadow: 0px 2px 3px #a60000;
}
.play-clip-round {
    background-image: url("img/play.svg") !important;
}

.icon-send-message {
    background-image: url("img/paper-plane.svg");
}
.icon-user-male {
    background-image: url("img/user-male-outline.svg");
}
.icon-logout-hamburger {
    background-image: url("img/logout-grey-blue.svg");
}
.icon-logout-mini-white {
    background-image: url("img/logout-mini-white.svg") !important;
}


.btn-china-rect {
    background-image: url("img/china-rect.svg") !important;
}
.btn-italy-rect {
    background-image: url("img/italy-rect.svg") !important;
}
.btn-eng-rect {
    background-image: url("img/eng-rect.svg") !important;
}

.btn-member-big {
    box-shadow: 2px 2px 1px #B71C1C;
    background-color: #F44336 !important;
    color: white !important;
}
.premium-member-big {
    background-image: url("img/small-crown.svg") !important;
    font-size: 32px;
}
.classic-member-big {
    background-image: url("img/approved-signal.svg") !important;
    font-size: 32px;
}


/*END ICONS*/

.toolbar-red {
    background-color: red !important;
}
.button-toolbar-light {
    background-color: #ffe082 !important;
    color: red !important;
}


.toolbar-menu-minimal .x-toolbar-inner {
    padding: 5px 2px !important;
}
.toolbar-menu-minimal-buttons {
    text-transform: none !important;
    color: #D80027 !important;
    font-size: 11px !important;
}
.toolbar-menu-minimal-buttons .x-button-label,
.hamburger-menu-list-buttons .x-button-label {
    white-space: normal;
}
.toolbar-menu-minimal-button-icon {
    font-size: 18px !important;
}



.hamburger-menu-list-buttons {
    text-transform: none !important;
    color: #d80027 !important;
    font-size: 13px !important;
    margin: 10px;
}

.hamburger-menu-list-buttons .x-button-label {
    padding-right: 5px !important;
}

.button-icon-24 .x-button-icon {
    font-size: 24px;
}

.button-sign-up-big {
    font-size: 24px !important;
}

.label-user-toolbar {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-style: oblique;
}
.label-user-city-toolbar {
    color: white;
    font-size: 13px;
}

.label-user-toolbar-hamburger {
    font-size: 19px;
    font-weight: bold;
    color: #303c42;
    font-style: oblique;
    margin-bottom: 0px !important;
}
.label-user-city-toolbar-hamburger {
    color: #303c42;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.label-view-company-name {
    font-size: 22px;
    font-weight: bold;
    color: #303c42;
    font-style: oblique;
    margin-bottom: 0px !important;
}

.no-margin-top-bottom-user {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}

/*BUTTONS*/
.button-green {
    background-color: #64dd17 !important;
}
.button-red {
    background-color: #ff3d00 !important;
}
.button-text-red {
    color: #ff3d00 !important;
}
.button-text-dark {
    color: #303C42 !important;
}
/*END buttons*/

/*FIELDSET*/
.x-form-fieldset-title {
    font-size: 18px !important;
    font-weight: bold !important;
    color: #d80027 !important;
}

/*TEXTFIELD*/
.input-gen-penknife {
    background-color: white !important;
}


.txtfld-descazienda-phone .x-label-el {
    margin-left: 40px;
    margin-top: -19px;
}
.txtfld-descazienda-tablet .x-label-el {
    margin-left: 40px;
    margin-top: -19px;
}

.stretch-animation {
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}



.color-red {
    color: red !important;
}

.container-round {
    border-radius: 50px;
}

.container-transparent {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

/*CLASSI Policy*/
.label-info-legali {
    font-weight: 600;
    color: white;
}

.buttons-privacy-cookie {
    color: #ffaeae !important;
    font-size: 14px !important;
}
/*FINE classi policy*/